includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - app
        - database
        - tests
    phpVersion: 80500
    excludePaths:
        - database/migrations/2026_04_30_123027_create_permission_tables.php
